.notification-list {
  ul {
    li {
      list-style-type: none;
      padding: 15px 0 15px 0;
      display: flex;
      align-items: start;

      .img {
        margin-right: 20px;

        img {
          width: 40px;
          height: 40px;
        }
      }

      .text {
        position: relative;
        top: 5px;

        .private-message {
          background-color: hsl(205, 33%, 90%);
          padding: 30px;
          border-radius: 5px;
        }
      }
    }
  }
}
